{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div align="center">
    <script defer src="https://events.vercount.one/js"></script>
    Total Page View <span id="vercount_value_page_pv">Loading</span>
    Total Visits <span id="vercount_value_site_pv">Loading</span>
    Site Total Visitors <span id="vercount_value_site_uv">Loading</span>
</div>




