{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div align="center">
  <div style="height:150px; width:150px;"> 
    <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=kEGWx5xRzLgUUkOxlG1SruDmPMQCo2Y60nBPxGxozrw"></script>
  </div>
</div>




