
<div class="news" style="overflow:auto; height:150px; width:50%;">
<ul>
<li>[01, 2025]&nbsp;&nbsp; 入选中国科协青年人才托举工程博士生专项计划.</li>
<li>[12, 2024]&nbsp;&nbsp; 2 papers accepted to <p style="color: #4169E1;">AAAI 2025</p>.</li>
<li>[10, 2024]&nbsp;&nbsp; 1 papers accepted to <p style="color: #4169E1;">IEEE TNNLS</p>.</li>
<li>[05, 2024]&nbsp;&nbsp; 1 papers accepted to <p style="color: #4169E1;">ICML 2024</p>.</li>
<li>[02, 2024]&nbsp;&nbsp; 1 papers accepted to <p style="color: #4169E1;">CVPR 2024</p>.</li>
<li>[12, 2023]&nbsp;&nbsp; 1 papers accepted to <p style="color: #4169E1;">IEEE TVCG</p>.</li>
</ul>
</div>

