
<div class="news" style="overflow:auto; height:150px; width:50%;">
 <ul>
 <li>[01, 2025]&nbsp;&nbsp; 入选中国科协青年人才托举工程博士生专项计划.</li>
 <li>[12, 2024]&nbsp;&nbsp; 2 papers accepted to <h7 style="color: #4169E1;">AAAI 2025</h7>.</li>
 <li>[10, 2024]&nbsp;&nbsp; 1 papers accepted to <h7 style="color: #4169E1;">IEEE TNNLS</h7>.</li>
 <li>[05, 2024]&nbsp;&nbsp; 1 papers accepted to <h7 style="color: #4169E1;">ICML 2024</h7>.</li>
 <li>[02, 2024]&nbsp;&nbsp; 1 papers accepted to <h7 style="color: #4169E1;">CVPR 2024</h7>.</li>
 <li>[12, 2023]&nbsp;&nbsp; 1 papers accepted to <h7 style="color: #4169E1;">IEEE TVCG</h7>.</li>
 </ul>
</div>
