.archive__item-image {
    display: inline-block;
/*     padding-right: 1em; */
    vertical-align: middle;
    width: 20%;
    position: relative;
	overflow: hidden;
	background-color: #E7F1FF;
}
.archive__item-entry {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
}

.list__item .label{
    position: absolute;
    bottom: 0;
    left: 0;  
    width: 240px; 
    height: 25px
    color: #E7F1FF;
}

.list__item:after {
  content: "";
  display: table;
  clear: both;
}

.archive__item-entry .archive__item{
    padding-left: 18px;
    padding-right: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1px;
    margin-bottom: 8px;
}

.archive__item-entry .archive__item a {
color: #1d63a1;
text-decoration: none;
-webkit-filter: brightness(100%);
    box-sizing: border-box;
    border: 2px solid;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0;
    padding-bottom: 4px;
    border-radius: 6px;
}

.archive__item-entry .archive__item a:hover {
  text-decoration: underline;
  background-color: #1d63a1;
    -webkit-text-fill-color: #fffaf3;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}



